.header-link,
.header-link:hover,
.header-link:active {
  color: white !important;
  text-decoration: none !important;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  padding: 6px 8px;
}

.link-primary,
.link-primary:hover,
.link-primary:active {
  color: #1976d2 !important;
  text-decoration: none !important;
}

.text-center {
  text-align: center;
}

.plus-btn {
  position: fixed !important;
  bottom: 30px !important;
  right: 30px !important;
}

.valid-response {
  color: green !important;
  font-weight: 700;
}
.invalid-response {
  color: red !important;
}

.remove-action,
.remove-action:hover,
.remove-action:active {
  color: red !important;
  text-decoration: none !important;
  cursor: pointer;
}

.float-right {
  float: right;
}

.bg-success {
  background-color: green !important;
}
.bg-error {
  background-color: red !important;
}
.bg-warning {
  background-color: orange !important;
}

.success > .Mui-disabled {
  color: green !important;
}
.error > .Mui-disabled {
  color: red !important;
}
